<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>755985556210-b120ba9nofk1t0mtgvumspo9r0l5j417.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755985556210-b120ba9nofk1t0mtgvumspo9r0l5j417</string>
	<key>API_KEY</key>
	<string>AIzaSyDmI5M2OXilcxp3O4rAAjR8XI8czsC369Q</string>
	<key>GCM_SENDER_ID</key>
	<string>755985556210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.premiumapp.RealmFB</string>
	<key>PROJECT_ID</key>
	<string>realmfb-ios-training</string>
	<key>STORAGE_BUCKET</key>
	<string>realmfb-ios-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755985556210:ios:108e3dba57445872</string>
	<key>DATABASE_URL</key>
	<string>https://realmfb-ios-training.firebaseio.com</string>
</dict>
</plist>